
        <!-- {% import 'macros.html' as macro%} -->
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the news highlight website </title>
        {% endif %}
    </head>
  <!-- <body>
      <div>
        <h2>General News</h2>
   
    {{macro.displayNewsList(general)}}
</div>
  </body> -->
    <body>  
        <!-- Popular movie section  -->
        <h1> sources</h1>
        
       <h2>Business</h2>
         <ul>
            {% for business in new_business %}
                <li>{{ business.name}}</li>
            {% endfor %}
        </ul>
        <h2>entertainment</h2>
         <ul>
            {% for entertainment in new_entertainment %}
                <li>{{ entertainment.name}}</li>
            {% endfor %}
        </ul>
        <h2>sports</h2>
         <ul>
            {% for sports in new_sports %}
                <li>{{ sports.name}}</li>
            {% endfor %}
        </ul>
        <h2>Technology</h2>
         <ul>
            {% for technology in new_tech %}
                <li>{{ technology.name}}</li>
            {% endfor %}
        </ul>
        <h2>Science</h2>
         <ul>
            {% for science in new_science %}
                <li>{{ science.name}}</li>
            {% endfor %}
        </ul>
        <h2>Health</h2>
         <ul>
            {% for health in new_health %}
                <li>{{ health.name}}</li>
            {% endfor %}
        </ul>
 </body>

